asic/PLL/alib-52
asic/PLL/*.pvl
asic/PLL/*.syn
asic/PLL/*.mr
asic/PLL/*.log
asic/PLL/*.svf

asic/PD/alib-52
asic/PD/*.pvl
asic/PD/*.syn
asic/PD/*.mr
asic/PD/*.log
asic/PD/*.svf

asic/TS/alib-52
asic/TS/*.pvl
asic/TS/*.syn
asic/TS/*.mr
asic/TS/*.log
asic/TS/*.svf

asic/VM/alib-52
asic/VM/*.pvl
asic/VM/*.syn
asic/VM/*.mr
asic/VM/*.log
asic/VM/*.svf

imp

logical

simulate

verif/PLL_integration/__pycache__
verif/PLL_integration/verdiLog
verif/PLL_integration/inter.fsdb
verif/PLL_integration/modelsim.ini 
verif/PLL_integration/novas_dump.log 
verif/PLL_integration/novas.conf 
verif/PLL_integration/novas.rc
verif/PLL_integration/results.xml
verif/PLL_integration/transcript
verif/PLL_integration/ucli.key
verif/PLL_integration/vsim.wlf

verif/PD_integration/__pycache__
verif/PD_integration/verdiLog
verif/PD_integration/inter.fsdb
verif/PD_integration/modelsim.ini 
verif/PD_integration/novas_dump.log 
verif/PD_integration/novas.conf 
verif/PD_integration/novas.rc
verif/PD_integration/results.xml
verif/PD_integration/transcript
verif/PD_integration/ucli.key
verif/PD_integration/vsim.wlf

verif/TS_integration/__pycache__
verif/TS_integration/verdiLog
verif/TS_integration/inter.fsdb
verif/TS_integration/modelsim.ini 
verif/TS_integration/novas_dump.log 
verif/TS_integration/novas.conf 
verif/TS_integration/novas.rc
verif/TS_integration/results.xml
verif/TS_integration/transcript
verif/TS_integration/ucli.key
verif/TS_integration/vsim.wlf

verif/VM_integration/__pycache__
verif/VM_integration/verdiLog
verif/VM_integration/inter.fsdb
verif/VM_integration/modelsim.ini 
verif/VM_integration/novas_dump.log 
verif/VM_integration/novas.conf 
verif/VM_integration/novas.rc
verif/VM_integration/results.xml
verif/VM_integration/transcript
verif/VM_integration/ucli.key
verif/VM_integration/vsim.wlf