[submodule "accelerator_wrapper_tech"]
	path = accelerator_wrapper_tech
	url = https://git.soton.ac.uk/soclabs/accelerator_wrapper_tech.git
	branch = main
[submodule "nanosoc_tech"]
	path = nanosoc_tech
	url = https://git.soton.ac.uk/soclabs/nanosoc_tech.git
	branch = main
[submodule "soctools_flow"]
	path = soctools_flow
	url = https://git.soton.ac.uk/soclabs/soctools_flow.git
	branch = main
[submodule "generic_lib_tech"]
	path = generic_lib_tech
	url = https://git.soton.ac.uk/soclabs/generic_lib_tech.git
	branch = main
[submodule "fpga_lib_tech"]
	path = fpga_lib_tech
	url = https://git.soton.ac.uk/soclabs/fpga_lib_tech.git
	branch = main
[submodule "rtl_primitives_tech"]
	path = rtl_primitives_tech
	url = https://git.soton.ac.uk/soclabs/rtl_primitives_tech.git
	branch = main
[submodule "asic_lib_tech"]
	path = asic_lib_tech
	url = https://git.soton.ac.uk/soclabs/asic_library_tech.git
	branch = main
