#-----------------------------------------------------------------------------
# NanoSoC Configuration file
# A joint work commissioned on behalf of SoC Labs, under Arm Academic Access license.
#
# Copyright (C) 2021-3, SoC Labs (www.soclabs.org)
#-----------------------------------------------------------------------------

#### IP Configuration 
# !!EDIT this to point to the relevant logical directories of IP
ARM_CORSTONE_101_DIR ?= $(ARM_IP_LIBRARY_PATH)/latest/Corstone-101/logical
ARM_CORTEX_M0_DIR    ?= $(ARM_IP_LIBRARY_PATH)/latest/Cortex-M0/logical

# DMA_xxx_INCLUDE (yes or leave blank)
DMA_0_PL230_INCLUDE := 
DMA_1_PL230_INCLUDE := 
DMA_DMA350_INCLUDE := 

# DMA 350 options set to yes for one of them
# !! MAKE sure you run the correct configuration in the SLDMA350 directory
# Small configuration of DMA, 2 channels, no stream interface, no extended features
# Default configuration of DMA, 2 channels, stream interface, extended features
# Big configuration of DMA, 3 channels, stream interface, extended features
DMA350_SMALL := 
DMA350_DEFAULT := 
DMA350_BIG := 

# ADC Include (yes or leave blank)
ADC_0_INCLUDE:= 
ADC_1_INCLUDE:= 
ADC_2_INCLUDE:=
ADC_3_INCLUDE:=

SNPS_PVT_TS_0_INCLUDE:=
SNPS_PVT_TS_1_INCLUDE:=
SNPS_PVT_TS_2_INCLUDE:=
SNPS_PVT_TS_3_INCLUDE:=
SNPS_PVT_TS_4_INCLUDE:=
SNPS_PVT_TS_5_INCLUDE:=
SNPS_PVT_PD_0_INCLUDE:=
SNPS_PVT_VM_0_INCLUDE:=