[submodule "nanosoc/socdebug_tech"]
	path = nanosoc/socdebug_tech
	url = https://git.soton.ac.uk/soclabs/socdebug_tech.git
[submodule "nanosoc/sldma230_tech"]
	path = nanosoc/sldma230_tech
	url = https://git.soton.ac.uk/soclabs/sldma230_tech.git
[submodule "nanosoc/slcorem0_tech"]
	path = nanosoc/slcorem0_tech
	url = https://git.soton.ac.uk/soclabs/slcorem0_tech.git
[submodule "nanosoc/sldma350_tech"]
	path = nanosoc/sldma350_tech
	url = https://git.soton.ac.uk/soclabs/sldma350_tech.git
[submodule "nanosoc/sl_ams_tech"]
	path = nanosoc/sl_ams_tech
	url = https://git.soton.ac.uk/soclabs/sl_ams_tech.git
[submodule "nanosoc/synopsys_28nm_slm_integration"]
	path = nanosoc/synopsys_28nm_slm_integration
	url = https://git.soton.ac.uk/soclabs/synopsys_28nm_slm_integration.git
