# Exclude Simulation Files
verif/cocotb/*
!verif/cocotb/makefile
!verif/cocotb/*.py

#Exclude synthesis files
ASIC/*.pvl
ASIC/*.syn
ASIC/*.mr
ASIC/*.pvk
ASIC/alib-52
ASIC/WORK/*
ASIC/*/*/Cadence/scripts/fv
ASIC/*/*/Cadence/scripts/*.rpt
ASIC/*/*/Cadence/scripts/*.tstamp
ASIC/*/*/Cadence/scripts/.cadence
ASIC/*/*/Cadence/scripts/.*
ASIC/*/*/Cadence/scripts/*.spec
ASIC/*/*/Cadence/scripts/*.sdf
ASIC/*/*/Cadence/scripts/*.gif
ASIC/*/*/Cadence/scripts/*.lef
ASIC/*/*/Cadence/scripts/result
ASIC/*/*/Cadence/scripts/nanosoc_chip_pads
ASIC/*/*/Cadence/scripts/timingReports
ASIC/*/*/Cadence/scripts/*.db*
ASIC/*/*/Cadence/scripts/*.rpt*
ASIC/*/*/Cadence/scripts/*.checkFPlan
ASIC/*/*/Cadence/scripts/*.ptiavg
ASIC/*/*/Cadence/scripts/*.ptifiles
ASIC/*/*/Cadence/scripts/*.dofile
ASIC/*/*/Cadence/scripts/*.testproc
ASIC/*/*/Cadence/scripts/scheduling_file.cts.*
ASIC/*/*/Synopsys_FC/HDL_LIBRARIES
ASIC/*/*/Synopsys_FC/nanosoc_chip_pads.dlib 
ASIC/*/*/Synopsys_FC/*.txt 
ASIC/*/*/Synopsys_FC/fc_output.txt
ASIC/*/*/Synopsys_FC/*.log
ASIC/*/*/Synopsys_FC/check_design.ems
ASIC/*/*/Synopsys_FC/PreFrameCheck
ASIC/*/*/Synopsys_FC/*.svf
ASIC/*/*/Synopsys_FC/rom_via 
ASIC/*/*/Synopsys_FC/sram_16k
ASIC/*/*/Synopsys_FC/pad_lib 
ASIC/*/*/Synopsys_FC/.*/
ASIC/*/*/Synopsys_FC/cln28ht 
ASIC/*/*/Synopsys_FC/cln28ht_pmk
ASIC/*/*/Synopsys_FC/cln28ht_ret
ASIC/*/*/Synopsys_FC/io_lib
ASIC/*/*/Synopsys_FC/legalizer_debug_plots
ASIC/Synopsys/Formality/FM_INFO/*
ASIC/Synopsys/ICC2/CLIBs
ASIC/Synopsys/ICC2/PreFrameCheck
ASIC/Synopsys/ICC2/tsmc65lp/*
ASIC/Synopsys/ICC2/*.svf
ASIC/Synopsys/ICC2/*.ems
ASIC/Synopsys/ICC2/icc2_output.txt

ASIC/TSMC28nm/no_pins/Synopsys_FC/cln28ht
ASIC/TSMC28nm/no_pins/Synopsys_FC/rom_via
ASIC/TSMC28nm/no_pins/Synopsys_FC/PreFrameCheck
ASIC/TSMC28nm/no_pins/Synopsys_FC/sram_16k
ASIC/TSMC28nm/no_pins/Synopsys_FC/*.svf 
ASIC/TSMC28nm/no_pins/Synopsys_FC/*.txt 
ASIC/TSMC28nm/no_pins/Synopsys_FC/*.log
ASIC/TSMC28nm/no_pins/Synopsys_FC/.*
*.pvl
*.syn
*.mr
*.pvk
# Exclude Compiled Binaries
/software/*/*.elf
/software/*/*.ELF
/software/*/*.lst
/software/*/*.o
/software/*/*.bin

# Compile Test Code Removal
/testcodes/*/*.elf
/testcodes/*/*.ELF
/testcodes/*/*.lst
/testcodes/*/*.o
/testcodes/*/*.bin
# Bootrom removal
system/src/bootrom/

# Simulation Removal (If running at Tech Level)
sim

work

*.log*
*.cmd*
*.jou